.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* =============== RESET =============== */

ul li {
  list-style-type: none;
  text-decoration: none;
}

/* =============== MAIN HOLDER =============== */

.main-holder {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  height: 600px;
}

/* =============== SIDEBAR (list-holder) =============== */

.side-bar {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.lists-holder {
  height: 100%;
}

.list-button {
  text-transform: capitalize;
  margin: 15px auto;
  padding: 10px;
  border: 2px solid rgba(13, 174, 177, 0);
  cursor: pointer;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.584);
  position: relative;
  transition: ease 0.3s all;
  /* float: right; */
}

.list-button.active {
  text-transform: capitalize;
  margin: 15px auto;
  padding: 10px;
  border: 2px solid rgba(13, 174, 177, 0.406);
  cursor: pointer;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  position: relative;
  transition: ease 0.3s all;
  background-color: rgba(112, 116, 125, 0.28);
}

.list-button:hover,
.list-button:focus {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: ease 0.3s all;
  border: 2px solid rgba(13, 174, 177, 0.406);
}

.list-holder {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}

.list-holder.active {
  background-color: grey;
}

.new-list-holder {
}

/* =============== MAIN (REMINDERS) =============== */

.main {
  background-color: #13171d;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.reminders-page-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

input[type="checkbox"] {
  /* transform: scale(2); */
  /* padding: 20px; */
  /* margin: 10px; */
  /* border-radius: 15px; */
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

input[type="submit"] {
  color: rgba(255, 255, 255, 0.584);
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  text-decoration: none;
  color: rgb(66, 39, 39);
  transition: ease 0.3s all;
  /* border: 2px solid rgba(13, 174, 177, 0.406); */
}



.reminders-holder {
  height: 100%;
}

.reminders-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reminders-holder ul li {
  text-align: left;
  display: flex;
  flex-direction: row;
}

/* =============== OTHER =============== */

.vertical-align {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
